<p>Computer vision engineer at <a href="https://safely-you.com">SafelyYou</a>, Linux enthusiast, coffee snob, gamer.</p>

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/raghavsub">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/raghavsub">Twitter</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-instagram fa-lg main-list-item-icon"></span>
    <a href="https://instagram.com/raghavsub">Instagram</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://linkedin.com/in/raghavsub">LinkedIn</a>
  </li>
</ul>

<p><small>Powered by <a href="https://github.com/excentris/compass">Compass</a>. Colors from <a href="https://github.com/junegunn/seoul256.vim">seoul256</a>.</small></p>
